@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica";
    font-weight: 400;
    src: url("./assets/Helvetica/Helvetica.ttf");
}

@font-face {
    font-family: "Helvetica";
    font-weight: 800; 
    src: url("./assets/Helvetica/Helvetica-Bold.ttf");
}

body{
    font-family: 'Helvetica';
}

/* .area {
    width: 90%;
    height: 200px;
    margin-left: auto;
    margin-right:auto;
    padding-left: 10px;
    padding-right: 10px;
} 
*/

.welcome {
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bigbutton{
    width: 200px;
}

td {
    text-align: center;
}

tr > th {
    text-align: center;
}

.longtext {
    overflow:hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}