.link-con {
  height: 100%;
  width: 100%;
  position: relative;

  .link-top {
    width: 100%;
    overflow: hidden;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .link-des {
      float: left;
      margin-left: 100px;
      margin-top: 5px;

      >div {
        float: left;
      }

      >div:nth-child(1) {
        font-size: 30px;
        color: #fff;
      }

      >div:nth-child(2) {
        font-size: 12px;
        color: rgba(255, 255, 255, .6);
        margin-left: 20px;
        width: 400px;
        margin-top: 4px;
      }
    }

    .link-return {
      cursor: pointer;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 5px;
      background: rgb(26, 26, 26);
      position: absolute;
      left: 0;
      top: 0;
    }

  }
}

.link-form {
  height: calc(100% - 100px);
  border: 1px solid rgba(0, 0, 0, .06);
  padding: 20px;
  width: 100%;
  padding-top: 0;
  overflow: auto;

  &-title {
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }

  .border-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .link-base-info {
    display: flex;

    >div {
      flex: 1;

    }

    >div:nth-child(2) {
      text-align: right;
    }
  }

  .link-url{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    >div:nth-child(1) {
      font-size: 24px;
      height: 60px;
      line-height: 60px;
      float: left;
    }
    >div:nth-child(2) {
      color: rgba(255, 255, 255, .9);
      height: 60px;
      line-height: 60px;
      float: right;
    }
  }
  
  .info-common-style {
    margin-bottom: 14px;

    >span:nth-child(1) {
      color: rgba(255, 255, 255, .9);
      margin-right: 10px;
    }

    >span:nth-child(2) {
      color: rgba(255, 255, 255, .8);
      font-weight: 600;
    }
  }

  .link-claims-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 20px;
  }

  .button-group {
    overflow: hidden;
    margin: 20px;
    width: auto;
    float: right;
  }
}