

.qr {
    background: #fff;
    background-image: url("./../../static/img/bg.png");
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    text-align: center;
    img {
        margin: 0 auto;
        display: block;
        margin-top: 40px;
        height: 250px;
        width: 250px;
    }

    .title1{
        color: #000;
        font-size: 30px;
        font-weight: 600;
        margin: 40px 0;
    }

    .title2{
        color: #000;
        font-size: 24px;
    }

    .btn{
        margin: 20px 0;
    }
}